 <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ ('assets/css/style.css') }}" type="text/css" />
<title>Les_cocktails</title>
</head>
    <body>
        <aside class="sidebar">
            <p class="sidebar-pub">Faîtes comme David Robert, cherchez des femmes chaudes sur sa région, héhé</p>
        </aside>
    </body>