<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ ('assets/css/style.css') }}" type="text/css" />
<title>Les_cocktails</title>
</head>
<body>
<footer class="footer">
                    <a href="{{ path('home')}}">
                        <img class="logo-footer" src="{{ asset('assets/images/logo.jpg')}}" alt="logo toc"/>
                    <p>Copyright d'Evil</p>

</footer>
</body>