{% extends 'base.html.twig' %}

{% block main %}
    <main class="main">
    
        <h1>Les deux derniers cocktails</h1>
     {% include 'partials/cocktails/_loop-cocktails.html.twig' %}
        
    </main>

{% endblock main %}

