{% extends 'base.html.twig' %}

{% block metaTitle %}Les Cocktails{% endblock metaTitle %}



{% block main %}
    
    
        <h1 class="title">Tous les cocktails</h1>      
    

{% endblock main %}

