{% extends 'base.html.twig' %}


{% block main %}
    <div class="container">
        <h1 class="category">Catégories de Cocktail</h1>
        
                {% include 'partials/_aside-ad.html.twig' %}

                {% for cocktail in cocktails %}
                    <div class="category-cocktail">
                        <h2>{{ cocktail.nom }}</h2>
                        <img class="image-cocktails" src="{{cocktail.image}}" alt="{{cocktail.nom}}"/>
                        <p>{{ cocktail.description }}</p>
                    </div>
                {% endfor %}
    </div>
{% endblock main %}       
