{% extends 'base.html.twig' %}

{% block megaTitle %}Les Cocktails{% endblock megaTitle %}
{% block main %}
    <div class="container">
        <h1 class="category">Catégories de Cocktail</h1>

                {% for categorie in categories %}
                <article>
                    <div class="category-cocktail">
                        <h2>{{ categorie.nom }}</h2>
                        <p>{{ categorie.description }}</p>
                    </div>
                    </article>
                {% endfor %}
    </div>
{% endblock main %}       
